@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Overlock:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import 'reset.css';

/* components */
@import 'components/todoItem.css';
@import 'components/sortMenu.css';

/* section */
@import 'section/header.css';
@import 'section/todoList.css';
@import 'section/modal.css';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: 'Overlock', 'Nanum Gothic', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.display-none {
  display: none;
}
