@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Overlock:wght@400;700&display=swap');
@import 'reset.css';

/* section */
@import 'section/header.css';
@import 'section/todoList.css';

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-family: 'Overlock', cursive;
  font-size: 16px;
  overflow: hidden;
}
.display-none {
  display: none;
}
