@keyframes todoListAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todo-list {
  background-repeat: no-repeat;
  background-size: 1200px 850px;
  background-position: center top;
  height: 100%;
  display: flex;
  justify-content: center;
  animation: todoListAnimation 1s ease-in-out;
}
.todo-list__section {
  width: 1160px;
  padding: 0 10px;
  height: 540px;
  margin-top: 260px;
  display: flex;
  flex-shrink: 0;
}
.todo-list__column {
  width: 240px;
  padding: 10px;
  position: relative;
}
.todo-list__column:nth-child(1) {
  margin-left: 18px;
}
.todo-list__column:nth-child(2) {
  margin-left: 52px;
}
.todo-list__column:nth-child(3) {
  margin-left: 52px;
}
.todo-list__column:nth-child(4) {
  margin-left: 43px;
}
.todo-list__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
.todo-list__create-item {
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  opacity: 0.6;
}
.todo-list__create-item:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.todo-list__items {
  height: 440px;
  overflow: auto;
}
.todo-list__items > ul {
  display: flex;
  flex-direction: column-reverse;
}
.todo-list__items::-webkit-scrollbar {
  display: none;
}
