.todo-list__item {
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todo-list__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.todo-list__item__title {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.todo-list__item__time {
  display: flex;
  justify-content: space-between;
}
.todo-list__item__time i {
  margin-left: 5px;
  cursor: pointer;
}
.todo-list__item__time i:hover {
  color: red;
}
.highlight-high {
  background-color: #ffccd1;
}
.highlight-medium {
  background-color: #fbeacc;
}
.highlight-low {
  background-color: #cce7e1;
}
